<header class="header">
	<div class="container">
		<div class="container-ticker">
			<div class="news-ticker"><span class="ticker-heading">Reciente</span></div>
		</div>
		<div class="container-social">
			{{> social}}
		</div>
	</div>
	{{navigation}}
</header>