<!-- znews start pagination -->
<div class="znews-pagination row znews-default">
	{{#if prev}}
	<a class="new-posts" href="{{page_url prev}}"><i class="fa fa-angle-left fa-fw"></i></a>
	{{/if}}
    {{#if next}}
    <a class="old-posts" href="{{page_url next}}"><i class="fa fa-angle-right fa-fw"></i></a>
    {{/if}}
</div>
<!-- end pagination -->