<aside class="col-md-4 sidebar">
	<!-- widget seperation -->
	<!-- start newsletter widget -->
	<div class="znews-widget" style="display:none;">
		<h3 class="title"><span>Newsletter</span></h3>
		<div class="content">
			<div class="email-subscribe">
				<!-- begin email Signup form -->
				<div id="mc_embed_signup">
				<form action="//weblogtemplates.us11.list-manage.com/subscribe/post?u=91444a0491590ace129c2bade&amp;id=74d9763d1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_91444a0491590ace129c2bade_74d9763d1f" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>
				<!-- end email Signup form-->
			</div>
		</div>
	</div>
	<!-- end newsletter widget -->
	<!-- widget seperation -->
	<!-- start recent posts widget -->
	<div class="znews-widget">
		<h3 class="title"><span>Recent Post</span></h3>
		<div class="content recent-post"></div>
	</div>
	<!-- end recent posts widget -->
	<!-- widget seperation -->
	<!-- start facebook widget -->
	<div class="znews-widget text-center">
		<h3 class="title"><span>Facebook</span></h3>
		<div class="content fb-widget"></div>
	</div>
	<!-- end facebook widget -->
	<!-- widget seperation -->
	<!-- start twitter widget -->
	<div class="znews-widget">
		<h3 class="title"><span>Twitter</span></h3>
		<div class="content twitter-widget"></div>
	</div>
	<!-- end twitter widget -->
	<!-- widget seperation -->
	<!-- start tag cloud widget -->
	<div class="znews-widget">
	    <h3 class="title"><span>Tag Cloud</span></h3>
	    <div class="content tags">
	    </div>
	</div>
	<!-- end tag cloud widget -->
	<!-- widget seperation -->
	
	<!-- widget seperation -->
</aside>