<a target="_blank" href="//facebook.com/yoplanner" title="facebook"><i class="fa fa-facebook"></i></a>
<a target="_blank" href="//twitter.com/yoplanner title="twitter"><i class="fa fa-twitter"></i></a>
<!--a href="#" title="vimeo"><i class="fa fa-vimeo-square"></i></a-->
<!--a href="#" title="flickr"><i class="fa fa-flickr"></i></a-->
<!--a href="#" title="dribbble"><i class="fa fa-dribbble"></i></a-->
<a target="_blank" href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>
<a target="_blank" href="//plus.google.com/113624413123385492768?prsrc=3" title="google plus"><i class="fa fa-google-plus"></i></a>
<a target="_blank" href="//www.youtube.com/channel/UCqCEySy6lNMhn6KlPAtcddg" title="youtube"><i class="fa fa-youtube"></i></a>