.single-top-box {
  .single-right{
    float:left;
    min-height: 125px;
  }
}
#top-widget{
	padding: 0 15px;
	float: left;
	width:100%;
}
.top-box{
	.single-left {
		.slider-image {
		    background-size: cover;
		    background-position: center;
		    height: 350px;
		    position: relative;
		    h3{
		    	position: absolute;
			    bottom: 0px;
			    left: 0px;
			    background-color: $top-widget-heading-bg;
			    width: 100%;
			    padding: 10px;
			    margin: 0px;
			    color: $top-widget-heading-color;
			    font-size: 20px;
		    }
		}
	}
	.single-right {
	    width: 25%;
	    float: left;
	    clear: right;
	    overflow: hidden;
	    padding: 15px 15px 15px 0;
	    @media (max-width: 768px) {
	      width: 100%;
	      padding:15px 0;
	    }
	    .slider-image {
		    background-size: cover;
		    background-position: center;
		    height: 160px;
		    width: 100%;
		    float: left;
		    margin-right: 10px;
		    position: relative;
		    @media (max-width: 768px) {
		      height: 250px;
		    }
		    h3{
		    	position: absolute;
			    bottom: 0px;
			    left: 0px;
			    background-color: $top-widget-heading-bg;
			    width: 100%;
			    padding: 10px;
			    margin: 0px;
			    color: $top-widget-heading-color;
			    font-size: 16px;
		    }
		}
	}
	.single-r-right{
		padding: 15px 0 15px 0;
	}
}